<ion-header>
  <ion-toolbar>
    <ion-title>OCR App</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-button (click)="captureImage()" expand="block" color="primary">
    Capturar Imagen
  </ion-button>

  @if (capturedImage) {
    <div class="image-preview">
      <h2>Imagen Capturada:</h2>
      <img [src]="capturedImage" alt="Captured Image" />
    </div>
  }

  <ion-spinner *ngIf="isProcessing" name="crescent"></ion-spinner>

  @if (extractedText) {
    <div>
      <h2>Texto Extraído:</h2>
      <p>{{ extractedText }}</p>
    </div>
  }

</ion-content>
